<table class="table table-borderless">
    <tr *ngFor="let task of tasks">
        <td>
            <button *ngIf="task.status === false" class="btn btn-primary btn-circle btn-circle-sm" (click)="save()" >
                <span>V</span>
                <input type="hidden" [(ngModel)]="task.status">
            </button>
            <div *ngIf="task.status" class="btn btn-light btn-circle btn-circle-sm disabled"><span>V</span></div>
            {{ task.date }} <a routerLink="/tasks/details/{{ task.id }}">{{ task.title }}</a>
        </td>
        <td class="col-4 text-right">
            <button class="btn btn-danger btn-circle btn-circle-sm" routerLink="/tasks/{{ task.id }}"><span>X</span></button>
            <button class="btn btn-warning btn-circle btn-circle-sm" routerLink="/tasks/edit/{{ task.id }}"><span>/</span></button>
        </td>
    </tr>
</table>

<div class="container fixed-bottom mb-3">
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-success btn-circle btn-circle-lg" routerLink="/task/"><span>+</span></button>
        </div>
    </div>
</div>